html,body {
    background-image:  url("login.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;


}


.navi{
    position: fixed;
    background: transparent;
    display: inline;
    font-family: Arial;
    font-size: 13px;
    font-size: 1vw;
    color: #c13399;
    text-align: center;
    text-transform: uppercase;
    bottom: 100px;
    width: 100%;



}