html,body {

    background-color: #f1f1f1;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;


}

.img-circle {
    border-radius: 50%;
}

.top_zone{
    position: relative;
    width: 500px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;



}
.box {
    position: relative;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
