html { background: transparent; }
body {
    padding: 0;
    margin: 0;
    background-color: white;
    background-image:
    linear-gradient(
            to bottom,
            #f2f2f4,
            #f2f2f4 22.5%,
            #e0e1e5 22.5%,
            #e0e1e5 75%,
            #f2f2f4 70%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}
span {
    display: inline-block;
    img {width: 80%;
                          } }

div {
    height: auto; /*if more info comes on the page, it will stretch down*/
    width: 100%;
    margin: 0 auto; /*this will cause the div to be in the center*/
}
div.botline{
    position: absolute;
    text-align: center;

    top: 80%;
}
div.midbox{
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 30%;
}
div.topbox{

    width: 300px;
    height: 100px;
    box-sizing: content-box;
    border: 2px solid black;
    position: absolute;
    left: 10%;
    top: 17%;
    
    font-size: 35px;
    text-align: center;

    line-height: 300%;

}