html,body {
    background-image:  url("home.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;


}


.navi{
    position: fixed;
    background: transparent;
    display: inline;
    font-family: Arial;
    font-size: 20px;
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
    bottom: 100px;
    width: 100%;



}
a:link {
     color: #c13399;
     text-decoration: none;
 }


/* visited link */
a:visited {
    color: #c13399;
    text-decoration: none;
}


/* mouse over link */
a:hover {
    color: #c13399;
    text-decoration: none;
}


/* selected link */
a:active {
    color: #c13399;
    text-decoration: none;
}
