html,body {
    background-image:  url("register.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    margin: 0;
    padding: 0;


}
.navi{


    width: 650px;
    font-family: Arial;
    font-size: 13px;
    font-size: 1vw;
    display: block;

    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: #c13399;
    text-align: center;
    bottom: 200px;
}
.right{

    float: left;
    height: 300px;

}
.left{
    float: right;
    height: 300px;

}
.low{
    text-align: center;
    font-size: 0.5vw;
    width: 300px;
    height: auto;
    text-transform: lowercase;
    margin-left: auto;
    margin-right: auto;

}
