<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
	<head>
		<title>Tatu</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		


	</head>
	
	<body>
	<center><div ><a href="{% url 'index' %}"><img src="{% static "images/logo.png" %} " alt="logo" width="10%"></div></a></center>

	<center><div >
		
			<h3>WAD2 Team A </h3><br />
			Level 7, Boyd Orr Building, University of Glasgow<br />
			175 University Avenue, Glasgow G12 8PW<br />
			<br />
			
			<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="form-actions">
			<button type="submit">Send</button>
	</div>
</form>
		
    
	</div></center>


	</body>
	
</html>
