<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>

	<head>
		<title>Tatu</title>
	</head>
	
	<body>
		<h1>Home page</h1>
		<div>
			hey there partner! <br />
			<strong>{{ boldmessage }}</strong><br />
		</div>
		
		<div>
			<br/> <a href='/tatu/contact-us/'>Contact us</a>
			<br/> <a href='/tatu/FAQ/'>FAQ page</a>
			<br/> <a href='/tatu/register/'>Register page</a>
			<br/> <a href='/tatu/login/'>Login page</a>
			<br/> <a href='/tatu/artists/'>Artists page</a>
			<br/> <a href='/tatu/tattoos/'>Tattoos page</a>
			
		</div>
	</body>
	
</html>