<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
	<head>
		<title>Tatu</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %} ">

	</head>
	
	<body>
	<center><div class="container"><span><img src="{% static "images/logo.png" %} " alt="logo"></span></div></center>


    <div class="container">
        <div class="topbox">TOP OF THE DAY</div>






    <center><div class="botline">

		<ul class="list-inline">
			<li> <a href='/tatu/contact-us/'>Contact us</a></li>
			<li> <a href='/tatu/FAQ/'>FAQ </a></li>
			<li> <a href='/tatu/register/'>Register </a></li>
			<li> <a href='/tatu/login/'>Login </a></li>
			<li> <a href='/tatu/artists/'>Artists </a></li>
			<li> <a href='/tatu/tattoos/'>Tattoos </a></li>

		</ul>
	</div></center>

	</body>
	
</html>