<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
<head>
    <title>Tatu</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/style3.css" %}">

</head>

<body>

<div class="navi">
    {% if registered %}
        <div class="reg">thank you for registering!
        <a href="{% url 'index' %}">Return to the homepage</a><br /></div>
    {% else %}
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
            <div class="right">{% for field in user_form %}
        <p>
            {{ field.label_tag }}<br>
        <center>{{ field }}</center>
            {% if field.help_text %}


        <div class="low">{{ field.help_text }}</div>
            {% endif %}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}</div>
        <div class="left">{% for field in profile_form %}
        <p>
            {{ field.label_tag }}<br>
        <center>{{ field }}</center>

            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
            {% endfor %}
        <div class="done">
        <button type="submit">Sign up</button></div></div>
    </form>


    {% endif %}
    </table>

</div>

</body>
</html>
