<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
<head>
    <title>Tatu</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/browse.css" %}">

</head>


<body>
<div class="navi">

    <a href='/tatu/watercolour'>watercolour | </a>
    <a href='/tatu/traditional'>traditional | </a>
    <a href='/tatu/realism'>realism | </a>
    <a href='/tatu/tribal'>tribal | </a>
    <a href='/tatu/dotwork'>dotwork | </a>
    <a href='/tatu/geometric'>geometric | </a>
    <a href='/tatu/japanese'>japanese | </a>
    <a href='/tatu/lettering'>lettering | </a>
    <a href='/tatu/blackwork'>blackwork </a>


</div>
</body>

</html>
